.table {
  border: 1px solid rgb(201,211,221);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-spacing: 0;
  font-style: 'proximanova-thin', sans-serif;
  font-size: 12px;
  color: rgb(60,93,125);
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

.table th {
  background-color: rgb(248,250,252);
  border-bottom: 1px solid rgb(201,211,221);
  margin: 0;
  padding: 0;
  height: 35px;
}

.table th:first {
  border-top-left-radius: 4px;
}

.table th:last {
  border-top-right-radius: 4px;
}

.table .input-container {
  padding: 0 15px;
  width: 20px; 
}

.table tbody tr {
  background-color: white;
}

.table tbody td {
  border-bottom: 1px solid rgb(201,211,221);
  height: 45px;
}

.table tbody tr:last-of-type td {
  border-bottom: none;
}

.table tbody tr:hover {
  background-color: rgb(216,233,251);
}

.table .align-right {
  text-align: right;
  padding-right: 50px;
}